@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-main-light);
    letter-spacing: var(--letter-spacing);
    margin: 0;
}
.conttitleh2{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.conttitlep{
    font-size: 1.25rem;
    padding-top: 1rem;
    
    text-align: center;
}
.conttitleh3{
    font-size:1.5rem ;
    font-weight: 600;
    text-align: center;
}

a {
    color: var(--color-main);
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    

}

:root {
    --color-main: #000000de;
    --color-main-light: #fff;
    --color-dark1: #1e3932;
    --color-green1: #00754a;
    --color-green2: #158159;
    --color-gray1: #e5e5e5;
    --color-gray2: #4c4c4c;
    --bg-section: #d4e9e2;
    --bg-section1:  #f1f8f5;
    --color-star:#cba258;
    --font1: 1rem;
    --letter-spacing: 0.3rem;
}

.but {
    border: 1px solid var(--color-main);
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    padding: 7px 16px;

}

.linkhov {
    text-decoration: underline;
}

.linkhov:hover {
    text-decoration: none;
}

/* navbar */
.nav-link1 {
    text-decoration: none;
    color: var(--color-main);
    margin-left: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.3em;
    font-size: var(--font1);
}

.nav-linka {
    color: var(--color-main);
    text-decoration: none;
    margin-right: 4rem;
    font-weight: 600;
    font-size: var(--font1);
}

.nav-link1:hover,
.nav-linka:hover {
    color: var(--color-green1);
}
.sec1a .but:hover{
    background-color: var(--color-green1);
}
.nav-linka i {
    margin-right: 8px;
    font-size: 1.5rem;
}

.nav-linkb {
    color: var(--color-main);
    margin-right: 16px;
    font-size: var(--font1);
}

.nav-linkb:hover {
    background-color: var(--color-gray1);
}

.nav-linkc {
    background-color: var(--color-main);
    color: #fff;
    font-size: var(--font1);
}

.nav-linkc:hover {
    background-color: var(--color-gray2);
}

.bord {
    border-bottom: 7px solid var(--color-green1);
}

.navflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */

Header {
    position: sticky;
    top: 0;
    padding: var(--font1);
    background-color: var(--color-dark1);

}

.cont1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.cont1a {
    margin-left: 10.3rem;

}

.cont1b .but {
    display: none;
    border: 1px solid #fff;
    color: var(--color-main-light);
}


/* section */

section {

    padding-top: 15%;
    padding-bottom: 15%;
    background-color: var(--bg-section);
    display: flex;
    align-items: center;
    background-image: url('./img/xl-hero-desktop_2021.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}



.sec1a {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.sec1a p {
    padding-bottom: 2rem;
    font-size: 1.1875rem;
    font-weight: 400;



}

.sec1a h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 2rem;


}

.sec1a .but {
    color: #fff;
    background-color: var(--color-green1);
    border: none;
    font-size: 1.25rem;
    font-weight: 400;


}

.buttonsec {
    padding-bottom: 1rem;
}

.sectionmobile {
    display: none;
}

.buttonsec a:hover {
    background-color: var( --color-green2) !important; 
    
}

/* second pannel  */
.sec3{
    padding: 8rem 1rem;
}
.sec3a{
    padding-bottom: 3rem;
}


.sec3bimg{
    text-align: center;
    padding-bottom: 1.5rem;
}

.conttitlep a{
    color: var(--color-green1)
}
.displaysec3b2{
    display: none;
}


/* menu */

.sec4{
    padding-top: 3rem;
    padding-bottom: 7rem;
    background-color:var(--bg-section1);
}

.nav-link{
    margin-top: -5rem;
    color:var(--color-main);
    font-size: 1.5rem;
    font-weight: 600;
    width: 100px;
    --bs-nav-underline-border-width: 0.3rem;
    --bs-nav-underline-link-active-color:var(--color-green1);
    
}
.nav-link:hover{
        color:var(--color-main);
        
}

.bi-star-fill{
    font-size:0.875rem ;
    color:var(--color-star);
}

/* .sec5, .sec5a,.sec5apic,.sec5atext{
    border:solid 1px black;
   
    
} */

.sec5{
    
    background-color: var(--bg-section);

}
.sec5a{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sec5apic, .sec5atext{
    max-width: 425px;
    padding: 2rem 0;
    
}
.sec5apic img{
    height: auto;
    width: 100%;
}

.sec5atext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:2rem;
}
.sec5apic{
    padding-right: 2rem;
}

.sec5atext h3,.sec5atext p{
    text-align: start;
}




@media (max-width: 991px) {
    .navflex {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        padding-left: 2rem;
        gap: 1rem;
    }

    .nav-linkc,
    .nav-linkb,
    .nav-linka {
        font-size: 0.875rem;
    }

    .nav-link1 {
        font-weight: 400;
        text-transform: none;
        font-size: var(--font1);

    }

    .nav-item {
        margin-bottom: 0.875rem;
    }

    .bord {
        border-bottom: none;
    }

    .navdiv {
        border-top: 1px solid var(--color-gray1);
        padding-top: 1rem;
    }

    .cont1a {
        margin-left: 2rem;
    }

}

@media (max-width: 767px) {

    .cont1b .but,
    .sectionmobile {
        display: inline-block;
    }

    .sectiondesk {
        display: none;
    }

    section {
        padding-top: 5%;
        padding-bottom: 60%;
        background-image: url('./img/hero-mobile_2021.jpg');
    }

    .sec1a {
        text-align: center;

    }
    .sec3{
        padding: 4rem 1rem;
    }
 

    .sec1a p {
        padding-bottom: 0rem;
        font-size: 1rem;
        font-weight: 400;
    }

    .sec1a h2 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
        padding-bottom: 1rem;


    }

    #query1 {
        font-size: 1rem;
    }
   
    .displaysec3b1{
        display: none;
    }
    .sec3b, .displaysec3b2 {

        display: flex;
        flex-direction:row;
        
    
    }
  
    .sec3b h3,
    .sec3b p {
        text-align: start;
        padding-left: 1rem;
    }
    .conttitleh2{
        font-size: 1.50rem;

    }
    .conttitleh3{
        font-size:1.25rem ;
    }
    .conttitlep{
        font-size: 1.1rem;
    }
    .nav-link{
        font-size:1rem;
        width:50px;
    }
    .sec5a{
   
        flex-direction: column;
        padding:2rem 0;
    }
    .sec5atext h3,.sec5atext p{
        text-align: center;
    }
    .sec5atext, .sec5apic{
        padding:0;
    }
  
}

@media (max-width: 576px) {
    .cont1a {
        margin-left: 1rem;
        width: 50%
    }

    h1 {
        display: inline;
    }
}